.table {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    color: #22531a;
}

.row {
    display: table-row;
    background: #9BBAA8;
    border-radius: 30px;
    /* background: #b0d3bf; */
}

.cell {
    display: table-cell;
    width: 120px;
    height: 115px;
    vertical-align: middle;
    /* border: 12px solid #072a16; */
    border: 12px solid #b0d3bf;
    text-align: center;
    color: #776e65;
    font-size: 4em;
    font-weight: 600;
    border-radius: 30px;
}
.appear-2 {
    color: #fff;
    transition: opacity 2s ease-in;
    background: #d3e29d;
}

.appear-4 {
    color: #fff;
    background: #8da354;
    
    
}

.appear-8 {
    color: #fff;
    background:#8ab446;
    
}

.appear-16 {
    color: #fff;
    background:  #63a91f;
    
}

.appear-32 {
    color: #fff;
    background: #4f8618; 
    
}

.appear-64 {
    color: #fff;
    background: #47800f;
    
}

.appear-128 {
    color: #fff;
    background: #2d6b22;
    
    font-size: 60px;
}

.appear-256 {
    color: #fff;
    background: #22531a;
    
    font-size: 60px;
}

.appear-512 {
    color: #fff;
    background: #163910;
    
    font-size: 60px;
}

.appear-1024 {
    color: #fff;
    background: #091606;
    
    font-size: 60px;
}

.appear-2048 {
    color: #fff;
    background: #8f2d2a;
    
    font-size: 60px;
}

.addCell {
    animation: pop 200ms ease 100ms;
}

.text {
    padding: 10px;
    text-align: center;
}

@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}

@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}
